<% if favposts.any? %>
    <ul class="list-unstyled">
        <% favposts.each do |favpost|%>
            <li class="media">
                <img class="mr-2 rounded" src="<%= gravatar_url(favpost.user, { size: 50 }) %>" alt="">
                <div class="media-body">
                    <div>
                      <%= link_to favpost.user.name, user_path(favpost.user) %> <span class="text-muted">posted at <%= favpost.created_at %></span>
                    </div>
                    <div>
                      <p><%= favpost.content %></p>
                      <div class="row">
                        <% if current_user === favpost.user%>
                          <%= link_to "削除", favpost, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
                        <% end %>
                        <%= render 'favorites/likes_button', micropost: favpost %>
                      </div>
                    </div>
                </div>
            </li>
        <%end%>
    </ul>
 
<% end %>